.map{
    width:100%;
    height:70% ;
}

.draw-app{
    top: 65px;
    left: .5em;
}
.ol-touch .draw-app {
    top: 80px;
  }

  @media only screen and (max-width: 800px) {
    /* Adjust the max-width value based on your design needs */
    .map {
        height: 90vh; /* Use viewport height (vh) instead of a fixed percentage */
    }
}