.map{
    width:100vw;
    height:90vh;
}
/*
.map2{
    width: 1000px;
    height:500px ;
    background-color: lightcoral;
}
*/

 /* popup style */
 .ol-popup {
    max-width:300px;
    min-width:100px;
    min-height:1em;
  }

.draw-app{
    top: 65px;
    left: .5em;
}
.ol-touch .draw-app {
    top: 80px;
  }
  .tooltip-inner {
    white-space: nowrap;
  }


  

  @media only screen and (max-width: 800px) {
    /* Adjust the max-width value based on your design needs */
    .map {
        height: 90vh; /* Use viewport height (vh) instead of a fixed percentage */
    }
}